<mat-card class="card">
    <mat-toolbar>
        <span class="title"> Cursos Disponiveis</span>
    </mat-toolbar>

    <mat-form-field class="search" appearance="fill">
        <mat-label>Filtrar cursos</mat-label>
        <input matInput (keyup)="filter()" [formControl]="search">
        <mat-icon matSuffix color="primary">search</mat-icon>
    </mat-form-field>

    <form [formGroup]="formAdd" (ngSubmit)="addCourse()">

        <crud-input-text [label]="specForm.name.label" [form]="formAdd" [controlName]="specForm.name.control"></crud-input-text>
        <crud-input-select class="select" [label]="specForm.categorys.label" [form]="formAdd" [controlName]="specForm.categorys.control" [listValue]="specForm.categorys.value"></crud-input-select>
        <crud-input-text [label]="specForm.description.label" [icon]="specForm.description.icon" [form]="formAdd" [controlName]="specForm.description.control"></crud-input-text>

        <button mat-raised-button color="primary"> Add </button>
    </form>

    <div *ngIf="alert.show" class="alert {{ alert.type}}">
        <p>{{ alert.message }}</p>
        <mat-icon class="icon">{{ alert.icon }}</mat-icon>
    </div>

    <crud-loading *ngIf="loading"></crud-loading>

    <div *ngIf="!loading && courses?.data?.length" class="container-table">
        <table mat-table [dataSource]="courses" class="mat-elevation-z8">


            <!-- id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let course"> {{course._id}} </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Curso </th>
                <td mat-cell *matCellDef="let course"> {{course.name}} </td>
            </ng-container>

            <!-- Category Column -->
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> Categoria </th>
                <td mat-cell *matCellDef="let course" class="category">
                    <span> {{ course.category}}</span>
                    <mat-icon aria-hidden="false" class="icon">{{ course.category | category}}</mat-icon>
                </td>
            </ng-container>
            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let course" class="actions">
                    <mat-icon color="accent" [routerLink]="['detail/', course._id]" class="icon">visibility</mat-icon>

                    <mat-icon color="warn" [routerLink]="['update-course/', course._id]" class="icon">edit</mat-icon>
                    <mat-icon color="primary" (click)="deleteCourse(course._id)" class="icon">delete</mat-icon>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">
                    <p>Ops, parece que nenhum resultado foi encontrado.</p>
                </td>
            </tr>
        </table>
    </div>
    <div *ngIf="!loading && !courses?.data?.length">
        <crud-template-error text="Ops, parece que você não tem nenhum curso cadastrado com a gente"></crud-template-error>
    </div>




</mat-card>