.detail {
    width: 70%;
    margin: 30px auto 0 auto;
    border: 1px solid lightgray;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 46px;
    position: relative;
    &-template {
        h1 {
            font-weight: bold;
            font-size: 44px;
        }
        h2 {
            font-weight: bold;
            font-size: 34px;
            padding: 8px 0;
            margin: 36px 0;
        }
        p {
            line-height: 32px;
            font-size: 16px;
        }
        button {
            position: absolute;
            bottom: 20px;
        }
    }
    .error {
        display: flex;
        flex-direction: column;
        justify-content: center;
        button {
            width: 60%;
            margin: 16px auto 0 auto;
        }
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}